{{form_start(playlistform)}}
{{form_row(playlistform.name)}}
{{form_row(playlistform.description)}}
{{form_row(playlistform.nbrdeformation)}}
<button type="submit" class="btn btn-primary">Envoyer</button>
{{form_end(playlistform)}}