{{form_start(formationForm)}}
{{form_row(formationForm.title)}}
{{form_row(formationForm.description)}}
{{form_row(formationForm.videoId)}}
{{form_row(formationForm.playlist)}}
{{form_row(formationForm.categories)}}
{{form_row(formationForm.publishedAt)}}
<button type="submit" class="btn btn-primary">Envoyer</button>
{{form_end(formationForm)}}