{% extends "baseadmin.html.twig" %}
{% block body %}
<table class="table table-striped">
    <thead>
        <tr>
            <th class="align-top" scope="col">
                playlist<br />
                <a href="{{ path('admin.playlists.sort', {champ:'name', ordre:'ASC'}) }}"
                    class="btn btn-info btn-sm active" role="button" aria-pressed="true">⏶</a>
                <a href="{{ path('admin.playlists.sort', {champ:'name', ordre:'DESC'}) }}"
                    class="btn btn-info btn-sm active" role="button" aria-pressed="true">⏷</a>
                <form class="form-inline mt-1" method="POST"
                    action="{{ path('admin.playlists.findallcontain', {champ:'name'}) }}">
                    <div class="form-group mr-1 mb-2">
                        <input type="text" class="sm" name="recherche"
                            value="{% if valeur|default and not table|default %}{{ valeur }}{% endif %}">
                        <input type="hidden" name="_token" value="{{ csrf_token('filtre_name') }}">
                        <button type="submit" class="btn btn-info mb-2 btn-sm">filtrer</button>
                    </div>
                </form>
            </th>
            <th class="align-top" scope="col">
                catégories
                <form class="form-inline mt-1" method="POST"
                    action="{{ path('admin.playlists.findallcontain', {champ:'id', table:'categories'}) }}">
                    <select class="form-select form-select-sm" name="recherche" id="recherche"
                        onchange="this.form.submit()">
                        <option value=""></option>
                        {% for categorie in categories %}
                        <option {% if valeur|default and valeur==categorie.id %} selected {% endif %}
                            value="{{ categorie.id }}">{{ categorie.name }}
                        </option>
                        {% endfor %}
                    </select>
                </form>
            </th>
            <th class="align-top" scope="col">
                &nbsp;
            </th>
            <th class="align-top" scope="col">
                Nombre<br>de formation
                <br>
                <a href="{{ path('admin.playlists.sort', {champ:'nbrdeformation', ordre:'ASC'}) }}"
                    class="btn btn-info btn-sm active" role="button" aria-pressed="true">⏶ </a>
                <a href="{{ path('admin.playlists.sort', {champ:'nbrdeformation', ordre:'DESC'}) }}"
                    class="btn btn-info btn-sm active" role="button" aria-pressed="true">⏷</a>
            </th>
            <th>
                <a href="{{ path('admin.playlist.add') }}" class="btn btn-success">Ajouter</a>
            </th>
        </tr>
    </thead>
    <tbody>
        <!-- boucle sur les playlists -->
        {% if playlists|length > 0 %}
        {% for k in 0..playlists|length-1 %}
        <tr class="align-middle">
            <td>
                <h5 class="text-info">
                    {{ playlists[k].name }}
                </h5>
            </td>
            <td class="text-left">
                {% set categories = playlists[k].categoriesplaylist %}
                {% if categories|length > 0 %}
                {% for c in 0..categories|length-1 %}
                &nbsp;{{ categories[c] }}
                {% endfor %}
                {% endif %}
            </td>
            <td>
                <a href="{{ path('admin.playlists.showone', {id:playlists[k].id}) }}" class="btn btn-secondary">Voir
                    détail</a>
            </td>
            <td>
                {{ playlists[k].nbrdeformation }}
            </td>
            <td>
                <a href="{{ path('admin.playlist.edit', {id:playlists[k].id}) }}" class="btn btn-secondary">Editer</a>
                <a href="{{ path('admin.playlists.delete', {id:playlists[k].id}) }}" class="btn btn-danger"
                    onclick="return confirm('êtes vous sur de vouloir supprimer la playlist {{ playlists[k].name }} ')">
                    Supprimer
                </a>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>
{% endblock %}